# Exclude original or unrestricted packet captures
original-captures/
full-capture*.pcap
full-capture*.pcapng

# Temporary Wireshark files
*.pcapng.tmp
*.pcap.tmp

# Python files
__pycache__/
*.pyc

# Windows files
Thumbs.db
Desktop.ini
